// Import Bulma's core
@import "~bulma/sass/utilities/_all";

$primary: $link;
$cyan: #cdcdff;
$purple: #ffc8ff;
$green: #b9ffc8;
$turquoise: #00ffff;
$yellow: #ffff00;
$red: #ffaeae;
$light: #e6c3b9;
$grey-light: #dcdcdc;
$navbar-height: 6rem;
$navbar-background-color: #f3f3f3;
$navbar-item-img-max-height: 3rem;


// Import Bulma and Buefy styles
@import "~bulma";
@import "~buefy/src/scss/buefy";