// Import Bulma's core
@import "~bulma/sass/utilities/_all";


$navbar-height: 6rem;
$navbar-background-color: #E8E8E8;
$navbar-item-img-max-height: 3rem;


// Import Bulma and Buefy styles
@import "~bulma";
@import "~buefy/src/scss/buefy";